<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.ClsDao">
    <!--声明部门的resultMap-->
    <resultMap id="clsMap" type="com.aaa.entity.Cls">
        <id column="cid" property="cid"></id>
        <result column="cname" property="cname"></result>
        <collection property="students" column="cid" select="selectStu"
                    fetchType="lazy"
        >
            <id column="sid" property="sid"></id>
            <result column="sname" property="sname"></result>
        </collection>
    </resultMap>
    <select id="selectStudent" resultMap="com.aaa.dao.StudentDao.studentMap">
        select sid,sname from student where cid=#{cid}
    </select>

    <resultMap id="studentMap" type="com.aaa.entity.Stu" autoMapping="true">
        <association property="cls" javaType="com.aaa.entity.Cls" resultMap="com.aaa.dao.ClsDao.clsMap"></association>
    </resultMap>

    <select id="list1" resultMap="studentMap">
        select s.sid,s.sname,s.sex,s.state,s.birth,c.cid,c.cname
        from stu2 s left join cls c
        on s.cid=c.cid
    </select>
    
     